body {
    font-family: 'Roboto', sans-serif;
}
.row{
    margin:  0;
}

.container {
    padding: 25px;
}

p, li {
    color: #444;
    font-size: 14px;
}




/* BARRA DE NAVEGAÇÃO*/

#logo {
    width: 75px;
    height: 75px;
}
header .navbar {
    background-color: rgb(8, 8, 8);
}
.nav-container {
    padding: 0;
    padding-bottom: 0;
}
.navbar-brand{
    padding: 0;
    color: #FFF;
}

.navbar-brand:hover{
    color: #FFF;
}

#navbar-links a {
    color: #FFF;
}

.navbar-expand-lg .navbar-nav .nav-link{
    padding: 1rem .8rem;
}

.nav-item.active {
    border-bottom: 1px solid #FFF;
  }

  
/* SLIDE */

.container-fluid {
    padding: 0;
  }
 

  .carousel-inner > .carousel-item > img {
    width: 640 px;
    height: 840px; 
  }
  
  /* #mainslider .carousel-inner, .carousel-item {
    height: 50rem;
  }

  #mainslider */
  
  .carousel-caption {
    bottom:  10%;
  } 
  #mainslider .carousel-caption h2 {
    font-size: 50px;
    margin-bottom: 10px;
  }
  
  #mainslider .carousel-caption p {
    font-size: 22px;
    font-weight: 50px;
    margin-bottom: 40px;
    color: #FFF;
  } 
  
  .main-btn {
    background-color: #ca2fbb;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    width: 200px;
    height: 60px;
    padding: 10px 20px;
    border-radius: 30px;
    border: 3px solid transparent;
    transition: .5s;
    text-decoration: none
  }
  
  .main-btn:hover {
    text-decoration: none;
    color: #FFF;
    background-color: transparent;
    border-color: #3EC1D5;
  }
  
  .carousel-indicators .active {
    background-color: #65DAF9;
  }
  


  /* SOBRE O METAVERSO */

  #about-area {
      background-color: rgb(255, 255, 255);
  }

  .main-title {
    color: #444;
    margin: 0 0 50px 0;
    font-size: 50pt;
    text-align: center;
  }

   .main-title::after {
      content: '';
      border-top:3px solid #333;
      width: 15%;
      height: 4px;
      display: block;     
      margin: 15px auto;
  }

  .about-title {

    font-size: 17px;
    color: rgb(255, 255, 255);
    text-transform: uppercase; /* LETRA MAIÚSCULA*/
    font-weight: bold; /* NEGRITO */
  }

  #about-list {
    list-style: none;
    padding: 0;
  }
  
  #about-list li {
    line-height: 30px;
    
  }

  #about-list i{

    color: #00999b;
    padding-right: 0.5rem;
  }
 

  .service-box {
    text-align: center;
    margin-bottom: 50px;
  }

  .service-box i .service-box h4 {
    transition: .5s;
  }

  .service-box i {
    font-size: 50px;
    margin-bottom: 20px;
    color: #000000;
  }

  .service-box:hover > i, .service-box:hover > h4 {
    color: #018d8f;
  }

    /* CARD DESTAQUE */

  .card {
    border-width: 0.01rem;
    border-color: #050505;
    box-shadow: 0px 1rem 1rem 0px rgba(0, 0, 0, 0.205);
    border-radius: 1.5rem;
  }
.card img{
  border-radius: 1.5rem 1.5rem 0 0 ;
}

/* Newsletter */

#news-area {
  text-align: center;
  background-color: #f9f9f9;
}

#news-area p {
  font-size: 18px;
  margin-bottom: 40px;
}

#email-input {
border-radius: 0;
border-bottom-left-radius: 3rem;
border-top-left-radius: 3rem;
border: 1px solid #018d8f;
display: inline; 
box-sizing: border-box;
width: 30rem;
height: 3rem;

padding-left: 1rem;

}

#news-btn {
  border-bottom-right-radius: 3rem;
  border-top-right-radius: 3rem;
  border: 1px solid #018d8f;
  background-color: #018d8f;
  text-transform: uppercase;
  color: #f9f9f9;
  width: 10rem;
  height: 3rem;
  padding: 0 1rem  ;
  margin-left: -1rem;
  /*position: absolute;*/
  transition: .5s;
}

#news-btn:hover{
  background-color: #FFF;
  color: #018d8f;

}
